#btnPDF{
	background: rgb(179, 178, 182);
	margin-left: 445px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 120px;
	
}

#impresora2{
	width: 20px;
	height: 20px;
}

#sec02{
	float: right;
	margin-right: 200px;
	text-align: center;
    width: 100px;
	height: 40;	
}
#listado button{
    background: rgb(179, 178, 182);
    text-align: center;
    width: 100px;
    height: 40;	
}
section button{
	margin-top: 20px;
	width: 200px;
}



